[submodule "sprout/src/planty-image-cron"]
	path = sprout/src/planty-image-cron
	url = https://github.com/hum/planty-image-cron
[submodule "sprout/sprout"]
	path = sprout/sprout
	url = https://github.com/hum/sprout
